extends layout

block content
  h1= title

  if (toShow == null)
    h2 No instance to delete
  else
    - let butterflyid = toShow._id
    - let Size = toShow.Size
    - let color = toShow.color
    - let price  = toShow.price
    - let actionid = "/resource/butterfly/" + butterflyid
    script let actionid = "#{actionid}"
    div
      div.row
        div(class='butterflyAttr mr-3') butterfly ID is:
        div #{butterflyid}
      div.row
        div(class='butterflyAttr mr-3') Size is:
        div #{Size}
      div.row
        div(class='butterflyAttr mr-3') color is:
        div #{color}
      div.row
        div(class='butterflyAttr mr-3') price is:
        div #{price}

    button(class="btn btn-danger m-2" onclick="deleteOnid()") Delete
    button(class="btn btn-secondary m-2" onclick="cancel()") Cancel

  script.
    function cancel() {
      // Go back to the home page for the butterfly collection
      window.location.href='/butterfly'
    }
  script.
    function deleteOnid() {
      console.log("starting delete")
      // delete first
      fetch(actionid, {
        method: 'DELETE'      // Don't need a body for the delete
      }).then((resp) => {
        return resp.json(); // or resp.text() or whatever the server sends
      }).then((body) => {
        alert("Delete succeded")
        window.location.href='/butterfly'
        // TODO handle body
      }).catch((error) => {
        // TODO handle error
        alert("Delete failed " + error )
      });
    }